@font-face {
    font-family: josefin-bold;
    src: url(./fonts/josefin-sans/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: josefin-regular;
    src: url(./fonts/josefin-sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: neoneon;
    src: url(./fonts/neoneon/Neoneon.otf);
}

/* logo */
.navbar-brand {
    font-family: neoneon;
    font-size: 6vmin;
}

#map {
    height: 400px;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
}

/* for anything that doesn't turn orange */
.orange{
    color:rgb(255, 127, 45);
}

/* orange navbar items */
nav .navbar-nav a{
    color:rgb(255, 127, 45);
}

/* navbar shift left */
.navbar-nav {
    margin-left: auto;
}

/* HOMEPAGE STUFF START */
/* big texts*/

/* where anyone is invited anywhere */
.banner-header {
    font-family: josefin-bold;
    color:rgb(255, 127, 45);
    font-size: 8vmin;
    line-height: 10vmin;
}

/* Derived from the Singaporean... */
.banner-text {
    font-family: josefin-regular;
    color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    font-size: 2.5vmin;
}

/* how does it work?*/
/* h2{
    color:rgb(255, 127, 45);
    font-weight: 700;
    font-size: 200%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
} */

/* cards */
.card-css{
    border-color:rgb(255, 127, 45);
    margin-right: 5%;
    margin-left: 5%;
}

.card-css:hover{
    background-color: rgb(255, 127, 45);
    color: white;
}

.arrow{
    transform: translateY(500%);
}

/* banner button */
#banner-btn{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-weight: 500;
    font-size: 150%;
    background-color:rgb(255, 127, 45);
    border: solid 2px rgb(255, 127, 45);
}

/* banner button hover effects */
#banner-btn:hover{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:rgb(255, 127, 45);
    font-weight: 500;
    font-size: 150%;
    background-color:white;
    border: solid 2px rgb(255, 127, 45);
}

#banner-btn:hover span{
    display: none;
}

#banner-btn:hover:before {
    content: "LET'S GO!";
  }



/* HOMEPAGE STUFF END */

/* Create Jio Page */