@font-face {
    font-family: worksans-extrabold;
    src: url(./fonts/worksans/WorkSans-ExtraBold.ttf);
}

@font-face {
    font-family: worksans-semibold;
    src: url(./fonts/worksans/WorkSans-SemiBold.ttf);
}

@font-face {
    font-family: worksans-medium;
    src: url(./fonts/worksans/WorkSans-Medium.ttf)
}

/* logo */
.navbar-brand {
    font-family: worksans-extrabold;
    font-size: 3.5vmin;
    background: linear-gradient(90deg,#ef4136, #fbb040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-login {
    background: linear-gradient(var(--gradient-orientation,90deg),#ef4136, #fbb040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#map {
    height: 100%;
    width: 100%;
}

/* for anything that doesn't turn orange */
.orange{
    color:rgb(255, 127, 45);
}

/* navbar items */
nav .navbar-nav a{
    color: black;
    font-family: worksans-semibold;
    font-size: 1.125rem;
}

/* navbar shift left */
.navbar-nav {
    margin-left: auto;
}


/* HOMEPAGE START */

/* toggle button start */
.listButtonLeft{
    width:30px;
    height:30px;
    border:1px solid #000;
    border-radius: 5px 0px 0px 5px;
    display: inline-block;
}

.listButtonRight{
    width:30px;
    height:30px;
    border:1px solid black;
    border-radius: 0px 5px 5px 0px;
    display: inline-block;

}

#hamburgerIcon {
    position:absolute; 
    width:25px;
}

/* toggle button end */

/* top banner start */
#banner {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: url(static/img/frontpage-banner.png) no-repeat;
    color: white;
    background-position-y: 20%;
    background-position-x: center;
    text-align: center;
}

#searchBar{
    width: 80%;
    height: 50px;
    margin: auto;
}

#searchSection{
    background-color: darkorange;
    margin: 150px;
    padding: 20px;
    border-radius: 10px;
    
}

#findEvent{
    text-align: center;
}
/* top banner end */



.card {
    /* height: 500px;
    width: 300px; */
    /* border-radius: 5px; */
  }

.slider-container {
    width: 100%;
    height: 500px;
    left: 50%;
    /* position: absolute;
    transform: translate(-50%, -50%); */
    overflow: hidden;
}

/* create carousel */

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* trying to transfer slider container to upper n lower carousel doesnt work :( */
.upper-carousel{
    top: 500px;
    /* position: absolute;
    transform: translate(-50%, -50%); */
    left: 50%;
}

.lower-carousel{
    top: 1000px;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    left: 50%;
}


.inner-slider {
    width: 100%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    /* position: relative; */
    top: 0%;
    left: 0%;
}
/* HOMEPAGE END */

/* ABOUT START */
/* big texts*/

/* where anyone is invited anywhere */
.banner-header-1 {
    font-family: worksans-extrabold;
    background: linear-gradient(141deg, #00c2ff, #4ff29f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.125rem;
}

.banner-header-2 {
    font-family: worksans-extrabold;
    background: linear-gradient(142deg, #ac72ff, #23d2ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.125rem;
}

/* Derived from the Singaporean... */
.banner-text {
    font-family: worksans-medium;
    color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    font-size: 1.375rem;
    line-height: 135%;
}

/* @media (min-width: 1100px) {
    .banner-header-1 {
        font-size: 6.875rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    .banner-header-2 {
        font-size: 6.875vmin;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        }
    
    .banner-text {
        font-size: 1rem;
        line-height: 150%;
    }
} */

@media (min-width: 1200px) {
    .banner-header-1 {
        font-size: 6.875rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    .banner-header-2 {
        font-size: 6.875rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
}

@media (max-width: 1199px) {
    .banner-header-1 {
        font-size: 6rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    .banner-header-2 {
        font-size: 6rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
}

@media (max-width: 991px) {
    .banner-header-1 {
        font-size: 5rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    .banner-header-2 {
        font-size: 5rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
}

@media (max-width: 456px) {
    .banner-header-1 {
        font-size: 3rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    .banner-header-2 {
        font-size: 3rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
}

@media (max-width: 500px) {
    .banner-text {
        font-size: 1rem;
        line-height: 150%;
        width: 100%;
    }
}

/* how does it work?*/
/* h2{
    color:rgb(255, 127, 45);
    font-weight: 700;
    font-size: 200%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
} */

/* cards */
.card-css{
    border-color:rgb(255, 127, 45);
    margin-right: 5%;
    margin-left: 5%;
}

.card-css:hover{
    background-color: rgb(255, 127, 45);
    color: white;
}

.arrow{
    transform: translateY(500%);
}

/* banner button */
#banner-btn{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-weight: 500;
    font-size: 150%;
    background-color:rgb(255, 127, 45);
    border: solid 2px rgb(255, 127, 45);
}

/* banner button hover effects */
#banner-btn:hover{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:rgb(255, 127, 45);
    font-weight: 500;
    font-size: 150%;
    background-color:white;
    border: solid 2px rgb(255, 127, 45);
}


/* ABOUT END */

/* HOMEPAGE START */
.card {
    /* height: 500px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid black; */
  }

.slider-container {
    width: 100%;
    height: 500px;
    left: 50%;
    /* position: absolute; 
    transform: translate(-50%, -50%); */
    overflow: hidden;
}


/* trying to transfer slider container to upper n lower carousel doesnt work :( */
.upper-carousel{
    top: 500px;
    /* position: absolute;
    transform: translate(-50%, -50%); */
    left: 50%;
}

.lower-carousel{
    top: 1000px;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    left: 50%;
}


.inner-slider {
    width: 100%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    /* position: relative; */
    top: 0%;
    left: 0%;
}
/* HOMEPAGE END */

/* START OF FORM PAGES */

.register-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

.register-form-field {
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

.banner-header-form {
    font-family: worksans-extrabold;
    font-size: 8vmin;
    background: linear-gradient(246deg,#ef4136, #fbb040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text-form {
    font-family: worksans-medium;
    font-size: 15px;
}

#signupBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#loginBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#errors{
    
    color:red;
}

.invalid-feedback {
    font-size: 12px;
}

/* FORM PAGES END */

/* CREATE A JIO PAGE START */
table, tr, th, td {
    border: 1px solid;
  }

/* CREATE A JIO PAGE END */