/* fonts */
@font-face {
    font-family: worksans-extrabold;
    src: url('../../public/Font/worksans/WorkSans-ExtraBold.ttf');
}

@font-face {
    font-family: worksans-medium;
    src: url('../../public/Font/worksans/WorkSans-Medium.ttf');
}

@font-face {
    font-family: worksans-semibold;
    src: url('../../public/Font/worksans/WorkSans-SemiBold.ttf');
}


html {
    scroll-behavior: smooth;
    overflow-y: scroll; /* to ensure that scroll bar on the right shows for all pages */
}

/* fading in matters */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* logo */
.navbar-brand {
    font-family: worksans-extrabold;
    font-size: 2rem;
    background: linear-gradient(90deg, #ef4136, #fbb040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-login {
    background: linear-gradient(
        var(--gradient-orientation, 90deg),
        #ef4136,
        #fbb040
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#map {
    height: 100%;
    width: 100%;
}


/* navbar items */
nav .navbar-nav a {
    color: black;
    font-family: worksans-semibold;
    font-size: 1.125rem;
}

/* navbar shift left */
.navbar-nav {
    margin-left: auto;
}

/* HOMEPAGE START */

.eventTitle {
    font-family: worksans-semibold;
    font-size: 1.125rem;
}

.eventVenue {
    font-size: 0.8rem;
    font-family: worksans-medium;
    color: grey;
}

.eventOrganizer {
    font-family: worksans-medium;
    font-size: 0.8rem;
}

.eventDate {
    font-family: worksans-semibold;
    color: rgb(255, 127, 45);
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

.card-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#load-more {
    padding: 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border-radius: 3px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 1px solid black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-family: worksans-extrabold;
    background-color: white;
}

/* #load-more:not([disabled]):active {
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 4px #cce9e4;
}

#load-more:not([disabled]):hover {
    background-color: #f0f1f1;
}

#load-more[disabled] {
background-color: #eaeaea !important;
} */

.disabled {
    background-color: #eaeaea !important;
    cursor: not-allowed !important;
}

#events {
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #f5b459  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: worksans-extrabold;
}

#events:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#events:active {
  transform: scale(0.95);
}

#public {
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: worksans-extrabold;
}

#public:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
  
#public:active {
    transform: scale(0.95);
}

#private {
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: worksans-extrabold;
}

#private:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
  
#private:active {
    transform: scale(0.95);
}

.slider-container {
    width: 100%;
    height: 500px;
    left: 50%;
    /* position: absolute;
    transform: translate(-50%, -50%); */
    overflow: hidden;
}

#view-more {
    padding: 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border-radius: 3px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 1px solid black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-family: worksans-extrabold;
    background-color: white;
}

#view-more:not([disabled]):active {
    /* box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 0 4px #cce9e4;
}

#view-more:not([disabled]):hover {
    background-color: #f0f1f1;
}

#view-more[disabled] {
background-color: #eaeaea !important;
}

.privateJio {
    font-family: worksans-extrabold;
    background: linear-gradient(90deg, #ef4136, #fbb040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* HOMEPAGE END */

/* EVENT DETAILS PAGE START */
#event-whole-page{
  position:relative;
}

/* scroll to top button */
#event-scroll-top{
  position:fixed;
  right: 5%;
  bottom: 5%;
  background-color: rgb(255, 127, 45);
  opacity: 50%;
  color:white;
  font-family: worksans-medium;
  text-decoration-line: none;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}

#event-scroll-top:hover{
  opacity: 100%;
}

#event-banner-div{
    position: relative;
    overflow: hidden;
    font-family: worksans-medium;
}

#event-banner-background{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 600px;
    -webkit-filter: blur(5px); /* blur background image */
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-position: center;
    transform: scale(1.5); /* to remove white edges */
}

#event-banner-card{
    position: absolute;
    padding:0;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1;
    margin:0;
    border-radius:10%;
    max-width: 600px;
}
#event-banner-card-image{
    border-radius:10px 10px 0px 0px; 
    max-height: 300px;
}
#event-banner-card-body{
    color:black;
    background-color: white;
    padding: 20px;
    border-radius:0px 0px 10px 10px;
}
#event-banner-card-body h2{
    margin:0;
}
#event-banner-card-body p{
    margin:0;
}
#event-banner-card-body a{
    color: white;
    text-decoration: none;
}
#event-card-buttons{
    margin-top:auto;
    margin-bottom: auto;
}

#event-card-buttons button{
    height:40px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
    border: 0px;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 
    text-decoration-line: none;
}

#event-about-section > div:first-child {
    font-style: italic;
}

#event-about-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* EVENT DETAILS PAGE END */

/* ABOUT PAGE START */

.about-fadeup{
    animation: fadeup 1s ease-out;
    transition: 1s all ease;
}

.about-header
{
    font-family: worksans-extrabold;
    font-size: 4rem;
    line-height: 1;
    padding: 0.5rem;
    margin-bottom: 1vmin;
    background: linear-gradient(90deg, #ef4136, #fbb040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: 1s;
}

.about-header-text {
    font-family: worksans-medium;
    color: black;
    width: 70%;
    font-size: 1.375rem;
    line-height: 135%;
    margin-top: 1vmin;
    margin-bottom: 3vmin;
    transition: 1s;
}

.about-subheader{
    font-size: 3rem;    
}

/* 3D Model */

.island {
  height: 80vh;
  width: 95vw;
  overflow: hidden;
}

.point {
  position: absolute;
  left: 50%;
  z-index: 10;


}

.label {
      position: absolute;
      top: -16px;
      left: -16px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: linear-gradient(90deg, #ef4136, #fbb040);
      border: 2px solid white;
      color: #ffffff;
      font-family: worksans-medium;
      text-align: center;
      font-size: 14px;
      cursor: help;
      transform: scale(0, 0);
      transition: transform 0.3s;
}

.label span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
      margin-top: 60px;
      position: absolute;
      width: 200px;
      padding: 10px;
      border-radius: 4px;
      background: rgba(0, 0, 0, .6);
      border: 1px solid #ffffff77;
      color: #ffffff;
      line-height: 1.3em;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 100;
      font-size: 14px;
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;
      text-align: left;
}

.label:hover .text {
  opacity: 1;
}

.visible .label {
  transform: scale(1, 1);
}

.world-model {
    display: flex;
    justify-content: center;
}

/* join a group, find events, create a group */

#about-bojio{
    font-family: worksans-extrabold;
    width: 70%;
    color:black 
}
/* #about-bojio-bg{
    height:300px;
} */

.about-step-header {
    font-family: worksans-semibold;
    color: black;
    font-size: 2rem;
}

.about-step-text {
    font-family: worksans-medium;
    font-size: 1.375rem;
    width: 70%;
    display: flex;
    transition: 1s;
}

.about-img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

/* carousel start */

.carousel {
    height: 500px;
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    -webkit-animation: carousel-animate-vertical 15s linear infinite;
            animation: carousel-animate-vertical 15s linear infinite;
}

.carousel__item-body {
    min-width:500px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 20px;
}
      

.carousel__item-image-div {
    padding: 0;
}
.carousel__item-image-div img {
    width: 100%;
    padding: 0;
    border-radius:8px 0px 0px 8px;
}

.title {
font-family: worksans-semibold;
font-size: 30px;
margin-top: auto;
margin-bottom: auto;
}

.carousel__item-words{
    font-family: worksans-medium;
}

.carousel__fake-button{
    background: linear-gradient(90deg, #ef4136, #fbb040);
    border-radius: 10px;
    height: 15%;
    width: 40%;
    color: white;
    font-size: 15px;
}

/* carousel animations */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: worksans-medium;
    height: 100vh;
  }

  .wrapper{
    width: 50%;
    max-width:100%;
  }
  
  .carousel {
    width: 100%;
    margin-left: auto;
    margin-right:auto;
  }
  
  .carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    -webkit-animation: carousel-animate-vertical 15s linear infinite;
            animation: carousel-animate-vertical 15s linear infinite;
  }
  
  .carousel__item:nth-child(1) {
    -webkit-animation-delay: calc(3s * -1);
            animation-delay: calc(3s * -1);
  }
  
  .carousel__item:nth-child(2) {
    -webkit-animation-delay: calc(3s * 0);
            animation-delay: calc(3s * 0);
  }
  
  .carousel__item:nth-child(3) {
    -webkit-animation-delay: calc(3s * 1);
            animation-delay: calc(3s * 1);
  }
  
  .carousel__item:nth-child(4) {
    -webkit-animation-delay: calc(3s * 2);
            animation-delay: calc(3s * 2);
  }
  
  .carousel__item:last-child {
    -webkit-animation-delay: calc(-3s * 2);
            animation-delay: calc(-3s * 2);
  }
  

  
  @-webkit-keyframes carousel-animate-vertical {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
    3%, 20% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    23%, 40% {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    43%, 60% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    63% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes carousel-animate-vertical {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
    3%, 20% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    23%, 40% {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    43%, 60% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    63% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }
  /* carousel end */

/* bottom button */
#bottom-btn {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 500;
    font-size: 150%;
    background: linear-gradient(90deg, #ef4136, #fbb040);
    font-family: worksans-semibold;
    transition: 0.2s ease-in-out;
    }
    
/* bottom button hover effects */
#bottom-btn:hover {
    font-size: 160%;
    transition: 0.2s ease-in-out;
}

.about-bottom-div{
    height:150px;
}
/* making everything fade in*/

@keyframes fadeup {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ABOUT PAGE END */



/* START OF FORM PAGES */

.register-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

.register-form-field {
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

.banner-header-form {
    font-family: worksans-extrabold;
    font-size: 4rem;
    line-height: 1;
    padding: 0.5rem;
    margin-bottom: 1vmin;
    background: linear-gradient(90deg, #ef4136, #fbb040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.banner-text-form {
    font-family: worksans-medium;
    font-size: 15px;
}

.blob {
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6em;
    height: 6em;
    position: absolute;
    background-image: linear-gradient(100deg, #ef4136, #fbb040);
    border-radius: 37% 63% 73% 27% / 81% 76% 24% 19%;
    z-index: -1;
}

#loginBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#signupBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#errors {
    color: red;
}

.invalid-feedback {
    font-size: 12px;
}

/* FORM PAGES END */

/* CREATE A JIO PAGE START */
table,
tr,
th,
td {
    border: 1px solid;
}

/* #content{
        
    background-image: url(wallpaper4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    transition:10s;
    
    animation: change 30s infinite ease-in-out;

    
    
  } */
  #info{
    background-color:white;
    width:600px;
    height:650px;
    margin:0 auto;
    border:1px solid;
    border-radius:5%;
    position:relative;
    overflow-y:auto;
    
  
  }
  .navbar-nav a:hover {
    color: #fbb040;
  }


  .container form{
    width:280px;
    position:absolute;
    left: 50%;
    transform: translate(-50%);
  }
  #form1{
    top: 30px;
    
    visibility:visible;
    
  }
  #form2{
    top: 10px;
    
    visibility:hidden;
    
  }

  #form3{
    
    top:-15px;
    
    text-align: center;
    visibility:hidden;
    
    
  }
  .title1{
    margin-top:10%
  }

  /* @keyframes change{
    0%{
      background-image: url(wallpaper1.jpg)
    }
    25%{
      background-image: url(wallpaper2.jpg)
    }
    50%{
      background-image: url(wallpaper3.jpg)
    }

    75%{
      background-image: url(wallpaper4.jpg)
    }
    100%{
      background-image: url(wallpaper5.jpg)
    }
  
  } */

  .card-groups,
  .card-group,
  .indiv-card {
    aspect-ratio: 5 / 7;
  }
  
  .card-groups,
  .card-group,
  .big-card {  
    width: 30vmin;
  }
  
  .card-group {
    position: absolute;
    transition: transform 400ms ease;
  }
  
  .card-group[data-status="unknown"] {
    transform: scale(0);
    transition: none;
  }
  
  .card-group[data-status="active"] {
    transition-delay: 300ms;
  }
  
  .card-group[data-status="after"] {
    transform: translateX(50%) scale(0);
  }
  
  .card-group[data-status="before"] {
    transform: translateX(-50%) scale(0);
  }
  
  .card-group[data-status="becoming-active-from-after"] {
    transform: translateX(50%) scale(0);
    transition: none;
  }
  
  .card-group[data-status="becoming-active-from-before"] {
    transform: translateX(-50%) scale(0);
    transition: none;
  }
  
  .indiv-card {
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    
    background-position: center;
    background-size: cover;
  }
  
  .big-card {
    border-radius: 1vmin;
  }
  
  .little-card {
    width: 12vmin;
    border-radius: 2vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
    pointer-events: none;
  }
  
  .big-card:nth-child(2) {
    background-image: url("./images/cards/universal.jpg");
    transform: translateX(-10%) rotate(-1deg);
  }
  
  .big-card:nth-child(4) {
    background-image: url("./images/cards/jewel.jpg");
    transform: rotate(2deg);
  }
  
  .big-card:nth-child(6) {
    background-image: url("./images/cards/countdown.jpg");
    transform: translateX(-6%) rotate(-3deg);
  }
  
  .big-card:nth-child(8) {
    background-image: url("./images/cards/lights.jpg");
    transform: translate(10%, 3%) rotate(5deg);
  }
  
  .little-card:nth-child(1) {
    background-image: url("./images/cards/flying-kite.jpg");
  }
  
  .little-card:nth-child(3) {
    background-image: url("./images/cards/haji_lane.jpg");
  }
  
  .little-card:nth-child(5) {
    background-image: url("./images/cards/lighthouse.jpg");
  }
  
  .little-card:nth-child(7) {
    background-image: url("./images/cards/telok_ayer.jpg");
  }
  
  .card-group:hover > .indiv-card {  
    box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
  }
  
  .card-group:hover > .big-card:nth-child(2) {
    transform: translate(-75%, 16%) rotate(-24deg);
  }
  
  .card-group:hover > .big-card:nth-child(4) {
    transform: translate(-25%, 8%) rotate(-8deg);
  }
  
  .card-group:hover > .big-card:nth-child(6) {
    transform: translate(25%, 8%) rotate(8deg);
  }
  
  .card-group:hover > .big-card:nth-child(8) {
    transform: translate(75%, 16%) rotate(24deg);
  }
  
  .card-group:hover > .little-card:nth-child(1) {
    transform: translate(200%, -160%) rotate(-15deg);
  }
  
  .card-group:hover > .little-card:nth-child(3) {
    transform: translate(160%, 170%) rotate(15deg);
  }
  
  .card-group:hover > .little-card:nth-child(5) {
    transform: translate(-200%, -170%) rotate(15deg);
  }
  
  .card-group:hover > .little-card:nth-child(7) {
    transform: translate(-280%, 140%) rotate(-15deg);
  }

  @media only screen and (max-device-width: 390px) {
    #world-model {
      aspect-ratio: 400 / 800;
    }
  }

  @media only screen and (min-device-width: 390px) {
    /* screen equal or above 390 px */
    .about-header {
        font-size: 2rem;
    }

    .banner-header-about-2 {
        font-size: 2rem;
    }

    .about-header-text {
        font-size: 0.65rem;
        line-height: 150%;
        width: 65%;
    }

    .steps-header {
        font-size: 1.2rem;
    }

    .about-step-text {
        font-size: 0.65rem;
        width: 60%;
    }

    .carousel__item-body {
      min-width: 100px;
      background-color: #fff;
      border-radius: 8px;
      font-size: 10px;
  }
}

@media only screen and (min-device-width: 402px) {
    /* screen equal or above 390 px */
    .about-header {
        font-size: 3rem;
    }

    .banner-header-about-2 {
        font-size: 3rem;
    }

    .about-header-text {
        font-size: 1rem;
        width: 70%;
    }

    .steps-header {
        font-size: 1.5rem;
    }

    .about-step-text {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 800px) {
    /* screen equal or above 800px */
    .about-header {
        font-size: 4rem;
    }

    .banner-header-about-2 {
        font-size: 5rem;
    }
}

@media only screen and (min-width: 1000px) {
    /* screen equal or above 1000px */
    .about-header {
        font-size: 6rem;
    }

    .banner-header-about-2 {
        font-size: 6rem;
    }
}

@media only screen and (min-width: 1200px) {
    /* screen equal or above 1200px */
    .banner-header-about-1 {
        font-size: 6.875rem;
    }

    .banner-header-about-2 {
        font-size: 6.875rem;
    }

    .about-header-text {
        font-size: 1.375rem;
    }

    .steps-header {
        font-size: 3rem;
    }

    .about-step-text {
        font-size: 1.375rem;
        width: 70%;
    }
}

/* CREATE A JIO PAGE END */
/* FRIENDS PAGE START */

.routerLink {
  text-decoration: none;
}

.friends-card{
  position:relative;
  max-width: 202px;
}
.friends-card .card-img{
  height: 25vh;
  object-fit: cover;
}

.friends-card .card-img-overlay .card-title{
  position: absolute;
  bottom: 0%;
  left: 5%;
}


/* FRIENDS PAGE END */

.errShake {
  -webkit-animation: errorShake 0.4s 1 linear;
  -moz-animation: errorShake 0.4s 1 linear;
  -o-animation: errorShake 0.4s 1 linear;
  animation: errorShake 0.4s 1 linear;
}

@keyframes errorShake {
  0% { transform: translate(30px); }
  20% { transform: translate(-30px); }
  40% { transform: translate(15px); }
  60% { transform: translate(-15px); }
  80% { transform: translate(8px); }
  100% { transform: translate(0px); }
}

@-webkit-keyframes errorShake {
  0% { -webkit-transform: translate(30px); }
  20% { -webkit-transform: translate(-30px); }
  40% { -webkit-transform: translate(15px); }
  60% { -webkit-transform: translate(-15px); }
  80% { -webkit-transform: translate(8px); }
  100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes errorShake {
  0% { -moz-transform: translate(30px); }
  20% { -moz-transform: translate(-30px); }
  40% { -moz-transform: translate(15px); }
  60% { -moz-transform: translate(-15px); }
  80% { -moz-transform: translate(8px); }
  100% { -moz-transform: translate(0px); }
}
@-o-keyframes errorShake {
  0% { -o-transform: translate(30px); }
  20% { -o-transform: translate(-30px); }
  40% { -o-transform: translate(15px); }
  60% { -o-transform: translate(-15px); }
  80% { -o-transform: translate(8px); }
  100% { -o-origin-transform: translate(0px); }
}

/* START OF CREATE A JIO */

.maxCount {
  background-color: #CD5C5C;
}

/* END OF CREATE A JIO */